.paragraph-node{

    width: 100%;
    max-width: 400px;

    .delete-button{
        position: absolute;
        font-size: 11px;
        color: red;
        border: 1px solid red;
        right: -90px;
        top: 0;
        bottom: 0;
        padding: 3px;
        height: max-content;
        opacity: 0;
    }

}

.paragraph-node:hover .delete-button{
    opacity: 1;

}